


<body class="im">
  <div class="container">
    <form (ngSubmit)="onSubmit(registrationForm.value)" #registrationForm="ngForm" novalidate><br />


      <div class="table-form">

        <h3 align="center"><i><b>----Create a WedLock Profile----</b></i></h3><br />
        <div class="row">

          <div class="col-md-6">

            
            <!-- Name Field -->
            <div class="form-group">
              <label for="userName">Name</label>
              <input type="text" id="userName" name="userName" class="form-control " ngModel #userName="ngModel" required
                minlength="5" maxlength="50" placeholder="Enter Name" />
              <!-- <div *ngIf="registrationForm.submitted && registrationForm.controls['name']?.errors?.['required']"> 
               <div *ngIf="name.errors?.maxlength && name.touched"></div> -->
              <div *ngIf="userName.errors?.['required'] &&( userName.touched||registrationForm.submitted)">
                <p class="text-danger">Enter Name</p>
              </div>

              <div *ngIf="userName.errors?.['pattern']  && ( userName.touched||registrationForm.submitted)">
                <p class="text-danger">Name is required and should contain only letters.</p>
              </div>
              <div *ngIf="userName.errors?.['minlength'] && ( userName.touched||registrationForm.submitted)">
                <p class="text-danger">Name must be at least 5 characters</p>
              </div>
              <div *ngIf="userName.errors?.['maxlength'] && ( userName.touched||registrationForm.submitted)">
                <p class="text-danger">Name can't exceed 50 characters</p>
              </div>
            </div>


           
            <!-- Gender Field -->
            <div class="form-group">
              <label for="gender">Gender</label>
              <select id="gender" name="gender" class="form-control " ngModel #gender="ngModel" required>
                <option value="">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
              <div *ngIf="gender.errors?.['required'] && (gender.touched || registrationForm.submitted)">
                <!-- <div *ngIf="registrationForm.submitted && registrationForm.controls['gender']?.errors?.['required']"> -->
                <p class="text-danger">Enter gender</p>
              </div>
            </div>

            <!-- date of Birth-->
                <div class="form-group">
                  <label for="dateOfBirth">Date Of Birth</label>
                    <input type="date" id="dateOfBirth" name="dateOfBirth"  class="form-control" ngModel #dateOfBirth="ngModel"  required>
                
                <div *ngIf="dateOfBirth.errors?.['required'] && (dateOfBirth.touched || registrationForm.submitted)">
                    <p class="text-danger">Enter DateOfBirth</p>
                </div>
              </div>
                

            <!-- Age 
            <div class="form-group">
              <label for="age">Age</label>
              <input type="text" id="age" name="age" class="form-control" ngModel #age="ngModel" required
                placeholder="Enter Age" />
              <div *ngIf="age.errors?.['required'] && (age.touched || registrationForm.submitted)">
                <p class="text-danger">Please enter Age</p>
              </div>
            </div>-->

            <!-- mother Tongue Field -->
            <div class="form-group">
              <label for="motherTongue">Mother Tongue</label>
              <input type="text" id="motherTongue" name="motherTongue" class="form-control" ngModel
                #motherTongue="ngModel" required placeholder="Enter Mother Tongue" />
              <div *ngIf="motherTongue.errors?.['required'] && (motherTongue.touched || registrationForm.submitted)">
                <!-- <div *ngIf="registrationForm.submitted && registrationForm.controls['motherTongue']?.errors?.['required']"> -->
                <p class="text-danger">Enter Mother Tongue</p>
              </div>
            </div>
        
            <!-- location Field -->
            <div class="form-group">
              <label for="location">Location</label>
              <input type="text" id="location" name="location" class="form-control" ngModel
                #location="ngModel" required placeholder="Enter location" />
              <div *ngIf="location.errors?.['required'] && (location.touched || registrationForm.submitted)">
                <!-- <div *ngIf="registrationForm.submitted && registrationForm.controls['location']?.errors?.['required']"> -->
                <p class="text-danger">Enter Location</p>
              </div>
            </div>


            <!-- Height Field -->
            <div class="form-group">
              <label for="height">Height (cm)</label>
              <input type="number" id="height" name="height" class="form-control" ngModel #height="ngModel" required  
                min="80" placeholder="Enter Height (in cm)" />
              <!-- <div *ngIf="registrationForm.submitted && registrationForm.controls['height']?.errors?.['required']"> -->
              <div *ngIf="height.errors?.['required'] && (height.touched || registrationForm.submitted)">
                <p class="text-danger">Enter Height</p>
              </div>
              <div *ngIf="height.errors?.['min'] && (height.touched || registrationForm.submitted)">
                <p class="text-danger">Enter Height only & greaterthan 80</p>
              </div>
            </div>
          </div>


          <!-- Second Column: Height, Weight, Phone Number, Email, Password -->
          <div class="col-md-6">

             <!-- Education Field -->
             <div class="form-group">
              <label for="education">Education</label>
              <input type="text" id="education" name="education" class="form-control" ngModel #education="ngModel"
                required placeholder="Enter Education" />
              <div *ngIf="education.errors?.['required'] && (education.touched || registrationForm.submitted)">
                <!-- <div *ngIf="registrationForm.submitted && registrationForm.controls['education']?.errors?.['required']"> -->
                <p class="text-danger">Enter Education</p>
              </div>
            </div>


            <!-- job Field -->
            <div class="form-group">
              <label for="job">Job</label>
              <input type="text" id="job" name="job" class="form-control" ngModel #job="ngModel"
                required placeholder="Enter Job Name" />
              <div *ngIf="job.errors?.['required'] && (job.touched || registrationForm.submitted)">
                <!-- <div *ngIf="registrationForm.submitted && registrationForm.controls['education']?.errors?.['required']"> -->
                <p class="text-danger">Enter Job Name</p>
              </div>
            </div>


            <!-- salary Field -->
            <div class="form-group">
              <label for="salary">salary(LPA)</label>
              <input type="number" id="salary" name="salary" class="form-control" ngModel #salary="ngModel"
                required   max="99" placeholder="Enter salary in LPA" />
              <div *ngIf="salary.errors?.['required'] && (salary.touched || registrationForm.submitted)">
                <!-- <div *ngIf="registrationForm.submitted && registrationForm.controls['education']?.errors?.['required']"> -->
                <p class="text-danger">Enter salary in LPA</p>
              </div>
              <div *ngIf="salary.errors?.['max'] && (salary.touched || registrationForm.submitted)">
                <!-- <div *ngIf="registrationForm.submitted && registrationForm.controls['education']?.errors?.['required']"> -->
                <p class="text-danger">Enter salary in LPA & lessthan 99 </p>
              </div>
            </div>


            <!-- Phone Number Field -->
            <div class="form-group">
              <label for="phoneNumber">PhoneNumber</label>
              <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control" ngModel #phoneNumber="ngModel"
                required pattern="[6789][0-9]{9}" placeholder="Enter Phone Number" />
              <!-- <div *ngIf="registrationForm.submitted && registrationForm.controls['phoneNumber']?.errors?.['required']"> -->
              <div *ngIf="phoneNumber.errors?.['required'] && (phoneNumber.touched || registrationForm.submitted)">
                <p class="text-danger">Enter Phone Number</p>
              </div>
              <div *ngIf="phoneNumber.errors?.['pattern'] && (phoneNumber.touched || registrationForm.submitted)">
                <!-- <div *ngIf="registrationForm.submitted && registrationForm.controls['phoneNumber']?.errors?.['pattern']"> -->
                <p class="text-danger">Phone Number must be 10 digits and start with 6-9</p>
              </div>
            </div>


            <!-- Email ID Field -->
            <div class="form-group">
              <label for="emailId">EmailId</label>
              <input type="emailId" id="emailId" name="emailId" class="form-control" ngModel #emailId="ngModel" required email
                placeholder="Enter EmailId" />
              <div *ngIf="emailId.errors?.['required'] && (emailId.touched || registrationForm.submitted)">
                <!-- <div *ngIf="registrationForm.submitted && registrationForm.controls['email']?.errors?.['required']"> -->
                <p class="text-danger">Enter EmailId</p>
              </div>
              <div *ngIf="emailId.errors?.['email'] && (emailId.touched || registrationForm.submitted)">
                <!-- <div *ngIf="registrationForm.submitted && registrationForm.controls['email']?.errors?.['email']"> -->
                <p class="text-danger">Invalid EmailId format</p>
              </div>
            </div>


            <!-- Password Field-->
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" class="form-control" ngModel #password="ngModel"
                required minlength="8" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=])(?=\S+$).{8,}$"
                placeholder="Enter Password" />
                <div *ngIf="password.errors?.['required'] && (password.touched || registrationForm.submitted)">
              <!-- <div *ngIf="registrationForm.submitted && registrationForm.controls['password']?.errors?.['required']"> -->
                <p class="text-danger">Enter Password</p>
              </div>
              <div *ngIf="password.errors?.['minlength'] && (password.touched || registrationForm.submitted)">
                <!-- <div *ngIf="registrationForm.submitted && registrationForm.controls['password']?.errors?.['minlength']"> -->
                <p class="text-danger">Password must be at least 8 characters</p>
              </div>
              <div *ngIf="password.errors?.['pattern'] && (password.touched || registrationForm.submitted)">
                <!-- <div *ngIf="registrationForm.submitted && registrationForm.controls['password']?.errors?.['pattern']"> -->
                <p class="text-danger">Password must include at least one lowercase letter, one uppercase letter, one
                  number, and one special character</p>
              </div>
            </div>

          </div>
        </div>

        - <div class="form-group">
                    <label for="passwordConfirmation"><i class="glyphicon glyphicon-lock"></i> Re-Enter Password</label>
                    <input type="password" name="passwordConfirmation" ngModel  #passwordConfirmation="ngModel" class="form-control" placeholder="Re-Enter Password" required>
                    <div *ngIf="passwordConfirmation.errors?.['pattern']  && passwordConfirmation.touched">
                        <p id="color">Passwords do not match.</p>
                    </div>
                </div>
           


        <div class="center-text">
          <button [disabled]="!registrationForm.valid" class="btn btn-primary" type="submit">Register</button>
        </div><br />
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp; Already User? &nbsp; <span id="sign" (click)="showLogin()"><b>Login</b></span>
        </p>

      </div>
    </form>
  </div>
</body>