
<body class="im">
  
    <div class="container">
      <h2 class="h2"><i><b>---Profile---</b></i></h2><br />
      <div class="table-form">
        <div class="row">
  
          <div class="col-md-6">
            <!-- Name Field -->
            <div class="form-group">
              <label for="userName">Name</label>
              <input type="text" id="userName" name="userName" class="form-control" [(ngModel)]="user.userName" 
                required minlength="5" maxlength="50" />
            </div>
  
            <!-- Gender Field -->
            <div class="form-group">
              <label for="gender">Gender</label>
              <select id="gender" name="gender" class="form-control" [(ngModel)]="user.gender">
                <option [value]="'Male'" [disabled]="user.gender === 'Male'">Male</option>
                <option [value]="'Female'" [disabled]="user.gender === 'Female'">Female</option>
                <option [value]="'Other'" [disabled]="user.gender === 'Other'">Other</option>
              </select></div>
  
             <!-- Date of Birth -->
             <div class="form-group">
              <label for="dateOfBirth">Date of Birth</label>
              <input
                id="dateOfBirth"
                name="dateOfBirth"
                class="form-control"
                [value]="user.dateOfBirth | date:'dd-MMM-yyyy'"
                disabled
              />
            </div>
  
            <!-- Mother Tongue Field -->
            <div class="form-group">
              <label for="motherTongue">Mother Tongue</label>
              <input type="text" id="motherTongue" name="motherTongue" class="form-control" [(ngModel)]="user.motherTongue"
                 />
            </div>
  
            <!-- Location Field -->
            <div class="form-group">
              <label for="location">Location</label>
              <input type="text" id="location" name="location" class="form-control" [(ngModel)]="user.location"  />
            </div>
  
            <!-- Height Field -->
            <div class="form-group">
              <label for="height">Height (cm)</label>
              <input type="text" id="height" name="height" class="form-control" [(ngModel)]="user.height"  />
            </div>
          </div>
  
          <div class="col-md-6">
            <!-- Education Field -->
            <div class="form-group">
              <label for="education">Education</label>
              <input type="text" id="education" name="education" class="form-control" [(ngModel)]="user.education"  />
            </div>
  
            <!-- Job Field -->
            <div class="form-group">
              <label for="job">Job</label>
              <input type="text" id="job" name="job" class="form-control" [(ngModel)]="user.job"  />
            </div>
  
            <!-- Salary Field -->
            <div class="form-group">
              <label for="salary">Salary (LPA)</label>
              <input type="text" id="salary" name="salary" class="form-control" [(ngModel)]="user.salary"  />
            </div>
  
            <!-- Phone Number Field -->
            <div class="form-group">
              <label for="phoneNumber">Phone Number</label>
              <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" [(ngModel)]="user.phoneNumber"
                 />
            </div>
  
            <!-- Email ID Field -->
            <div class="form-group">
              <label for="emailId">Email ID</label>
              <input type="text" id="emailId" name="emailId" class="form-control" [(ngModel)]="user.emailId"  />
            </div>
  
            <!-- Password Field (You can hide this field for displaying the profile) -->
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" class="form-control" ngModel="user.password" readonly disabled />
            </div>
          </div>


          <div class="form-group" class="center-text">
            <button (click)="updateUser()" type="button" class="btn btn-primary">save</button> <br> 
        </div>
       <br>
      
      </div><!-- Add this button to your user profile component -->
      <button mat-raised-button color="warn" (click)="openUnregisterDialog()">Unregister</button>
     
      
        </div>


      
      </div>

    

  </body>
  