body {
  background-image: url('src/assets/Images/matches.jpeg');
  background-size: cover;
  background-attachment: fixed; /* Keep the background fixed */
  background-position: center;
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
  font-size: 2rem;
  color: #ffffff; /* White color for better contrast */
  margin-bottom: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional text shadow for readability */
}
.col-md-4 {
  display: inline-block;
  float: none;
  white-space: normal;
  width: 100%;
}

.card.custom-card {
  border: none;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 700px;
  height: 300px;
  margin-bottom: 20px;
  cursor: pointer;
}

.card.custom-card:hover {
  transform: scale(1.05);
}

.card.custom-card .card-img-left {
  width: 200px;
  height: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
  object-fit: cover;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}
