<div class="footer">
    <div class="top">
      <div>
        <h1>WedLock Matrimony </h1>
        <p>We connect love ..We connect Families ...</p>
      </div>
      <div>
        <a href="https://www.facebook.com/login/">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a href="https://www.instagram.com/accounts/login/?hl=en">
          <i class="fab fa-instagram-square"></i>
        </a>
        <a href="https://twitter.com/i/flow/login">
          <i class="fab fa-twitter-square"></i>
        </a>
      </div>
    </div>
    <div class="bottom">
      <div>
        <h4>Project</h4>
        <a href="/">Changelog</a>
        <a href="/">Status</a>
        <a href="/">License</a>
        <a href="/">All versions</a>
      </div>
      <div>
        <h4>Community</h4>
        <a href="/">Github</a>
        <a href="/">Issues</a>
        <a href="/">Project</a>
        <a href="/">Twitter</a>
      </div>
      <div>
        <h4>help</h4>
        <a href="/">Support</a>
        <a href="/">Troubleshooting</a>
        <a href="/">Contact Us</a>
      </div>
      <div>
        <h4>Others</h4>
        <a href="/">Terms of Service</a>
        <a href="/">Privacy Policy</a>
        <a href="/">License</a>
      </div>
    </div>
  </div>
  